@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Start BG Video */
.video-container {
  position: relative;
  height: 100vh;
  width: 100%;
    z-index: 0;

  overflow: hidden;
  background: #0D1027;
}

/* Video layer */
.video-bg {
  position: absolute;
  inset: 0;
  object-fit: cover;
  z-index: 0;
  pointer-events: none;
}

/* Dark overlay */
.video-container::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: 1;
  pointer-events: none;
}

/* UI layer */
.content {
  position: relative;
  z-index: 20;
  color: white;
  text-align: center;
  padding-top: 40vh;
}

/* End BG Video */

@keyframes blink {
  0%, 50%, 100% {
    opacity: 1;
  }
  25%, 75% {
    opacity: 0;
  }
}

.animate-blink {
  display: inline-block;
  width: 1ch;
  animation: blink 1s infinite;
}
